{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Recipes</h1>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{recipe.image }}" alt="">
            <div class="card-body">

                <h5 class="card-title">{{ recipe.title }}</h5>
                <!-- <p class="card-text">{{ recipe.ingredients }}</p> -->
                <div class"card-text">
                    {% for ing in recipe.ingredients %}
                    {% if forloop.counter < 7 %} <li>{{ing}}</li>

                        {% endif %}
                        {% endfor %}


                </div>

                <a href="{% url 'slb_detail' recipe.pk %}" class="btn btn-primary">
                    More details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}