{% extends "base.html" %}
{% load static %}
{% block page_content %}

<h1>Recipes</h1>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card h-100">
            <!-- card mb-2 -->
            <img class="card-img-top" src="{{recipe.image }}" alt="">
            <div class="card-body">

                <h5 class="card-title">{{ recipe.title }}</h5>
                <!-- <p class="card-text">{{ recipe.ingredients }}</p> -->
                <div class="card-text" id="card-text">
                    <div id="card-inner">
                        {% for ing in recipe.ingredients %}
                        {% if forloop.counter < 7 %} <li>{{ing}}</li>

                            {% endif %}
                            {% endfor %}
                    </div>
                    <div class="text-bottom">
                        <a href="{% url 'slb_detail' recipe.pk %}" class="btn btn-primary"> More details</a>
                        <a href="{% url 'add_to_basket' recipe.pk %}" class="btn btn-primary">Add to basket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}